
<header>
    <h1>Actividad 5 blog</h1>
</header>
<hr>

<main>

    <!-- Formulario -->
    <section>
        <div class="formulario">
            <h3>Crea tu noticia</h3>
            <div>
                <label for="titulo">Título: </label>
                <input type="text" id="titulo" name="titulo" placeholder="Introduce un título" [(ngModel)]="newNoticia.titulo">
            </div>
            <div>
                <label for="imagen">Imagen: </label>
                <input type="text" id="imagen" name="imagen" placeholder="Dirección de la imagen" [(ngModel)]="newNoticia.imagen">
            </div>
            <div>
                <label for="texto">Texto: </label>
                <textarea id="texto" name="texto" placeholder="Introduce aquí el texto de la noticia" rows="10" cols="50" [(ngModel)]="newNoticia.texto"></textarea>
            </div>
            <div>
                <label for="fecha">Fecha: </label>
                <input type="date" id="fecha" name="fecha" [(ngModel)]="newNoticia.fecha">
            </div>
            <div>
                <button (click)="crear()" class="boton">Crear</button>
            </div>
        </div>
    </section>
    

<section class="noticias__container" [innerHTML]="cargarDatos()">

</section>

</main>


<footer >
    <p class="Autor">
        Ernesto Guisado Franco - 2023
    </p>
</footer>